# ------------------ Python ------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------ Virtual Environment ------------------
.env
.venv
venv/

# ------------------ Models ------------------
models/similarity.joblib

# ------------------ Data ------------------
data/

# ------------------ Jupyter ------------------
.ipynb_checkpoints/

# ------------------ Streamlit Secrets ------------------
.streamlit/secrets.toml

# ------------------ OS Files ------------------
.DS_Store
Thumbs.db

# ------------------ Logs ------------------
*.log